html {
    min-height: 100%;
}

.invisible {
    display: none;
}

.formfield {
    min-width: 200px;
    max-width: 200px;
}

.formContainer {
    padding: 20px;
    width: 40%;
    border-right: 1px solid #000000;
}

.tableContainer {
    padding: 20px;
    width: 60%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
}

.flex-item {
    /* flex: 1; */
    height: 100%;
}

/* Стили для таблицы */
table {
    border-collapse: collapse;
    /* width: 100%; */
}

/* Стили для заголовков */
th {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px;
    text-align: left;
}

/* Стили для ячеек */
td {
    border: 1px solid #b9b9b9;
    color: rgb(0, 0, 0);
    padding: 9px 8px;
}

/* Стили для строк при наведении */
tr:hover,
.highlighted {
    background-color: #f5f5f5;
}