html {
    min-height: 100%;
}

.invisible {
    display: none;
}

.formfield {
    min-width: 200px;
    max-width: 200px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top: 20px;
    min-height: 500px;
}

.form-item {
    margin: 5px 0px;
}

.table-item {
    margin: 5px 0px;
    width: 100%;
}